@page "/AboutPage"
<link rel="stylesheet" href="css/About.css">
<h3>This is a class project. The source are used for educational purposes.</h3><br>
<h4>This purpose of this porgram is to find Apartment and Houses that are on sale at specefic locations.</h4>