@using FlippingProperty;
@using System.IO;
@inject IPropertyDataSource propertyDataSource;

@page "/Details/{index}"

@if (ChoosenHouse != null){
    <p>@ChoosenHouse.data.address.formatted_street_address</p>
    
}

@code {
    @* [Parameter]
        public String address { get; set; }
        [Parameter]
        public String zip { get; set; } *@
    [Parameter]
    public string index { get; set; }
    public HouseModel ChoosenHouse = null; 
    protected override async Task OnInitializedAsync()
    {
        var houseFiles = Directory.GetFiles("searchResults", "*.json");
        var json = await File.ReadAllTextAsync(houseFiles[int.Parse(index)]); //reads the file
        var houseModel = System.Text.Json.JsonSerializer.Deserialize<HouseModel>(json);//convering to an object
        ChoosenHouse = houseModel;
    }
}