@using FlippingProperty;
@inject IPropertyDataSource propertyDataSource;

@page "/FavoriteHouses"

<PageTitle>Index</PageTitle>

<link rel="stylesheet" href="css/styles.css">

<h1 class="Welcome">Favorite Houses</h1><br>


@* show the favorite hre with html *@








@code
{
    public List<HouseModel> favorites = new ();

    protected override async Task OnInitializedAsync()
    {
        foreach (var file in Directory.GetFiles("searchResults", "*.json"))
        {
            var json = await File.ReadAllTextAsync(file); //reads the file
            var houseModel = System.Text.Json.JsonSerializer.Deserialize<HouseModel>(json);//convering to an object
            
            if(houseModel.IsFavorite)
            {
                favorites.Add(houseModel);
            }
        }
    }
}
