@using FlippingProperty;
@inject NavigationManager UriHelper
@inject IPropertyDataSource propertyDataSource;

@page "/History"

<PageTitle>Index</PageTitle>

<link rel="stylesheet" href="css/styles.css">

<h1 class="Welcome">Past search results</h1><br>

@*tabel for the searchedResults *@
<table class="table">
    <thead>
        <tr>
            <th>❤️</th>
            <th>Street address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
        </tr>
    </thead>
    <tbody>
        @if (true)
        {
            int i = 0;
            foreach (var house in searchedHouses)
            {
                <tr>
                    <td>
                        <input type="checkbox" @bind=house.IsFavorite>
                    </td>
                    <td><a href=@($"/Details/{i}")>@house.data.address.formatted_street_address</a></td>
                    <td>@house.data.address.city</td>
                    <td>@house.data.address.state</td>
                    <td>@house.data.address.zip_code</td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
<button @onclick = "sendsToFavoritePage">Favorite</button>



@code {
    
    
    protected override async Task OnInitializedAsync()
    {
        foreach (var file in Directory.GetFiles("searchResults", "*.json"))
        {
            
            var json = await File.ReadAllTextAsync(file); //reads the file
            var houseModel = System.Text.Json.JsonSerializer.Deserialize<HouseModel>(json);//convering to an object
            searchedHouses.Add(houseModel);
        }
    }
    
    // list of house models
    List<HouseModel> searchedHouses = new();
    private void sendsToFavoritePage()
    {
        foreach (var item in searchedHouses)
        {
            var json = System.Text.Json.JsonSerializer.Serialize(item);
            File.WriteAllText(HouseProcessor.GetFileName(item), json);
        }
        UriHelper.NavigateTo($"FavoriteHouses/");
    }
}
