h1 {
    background-color:darkgrey;
    text-align: center;
    font-family: lora;
    color: blueviolet;
    text-decoration: none;
    font-size: 40px;
    padding: 15px;
    border: 2px solid #7a1fe8;
    position: relative;
}
h1::before,
h1::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
}
h1::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}
h1::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}
h1:hover::before,
h1:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}

/* h1:hover{
    animation: pulsate 1s ease-in-out;
} */
h2 {
    text-align: center;
    font-family: lora;
    color:crimson;
}

.button {
    text-align: center;
    display: inline-block;
    background-color:rgb(36, 20, 43);
    color:aliceblue;
    text-decoration: none;
    padding:  10px 20px;
    border: 3px solid 
    #3c67e3;
    border-radius: 10px;


}
.button:hover {
    animation: pulsate 1s ease-in-out;
}

.Favorite {
    text-align: center;
    display: inline-block;
    background-color:rgb(36, 20, 43);
    color:aliceblue;
    text-decoration: none;
    padding:  10px 20px;
    border: 3px solid 
    #3c67e3;
    border-radius: 10px;


}
.Favorite:hover {
    animation: pulsate 1s ease-in-out;
}

@keyframes pulsate{
    0%{
        box-shadow:
        0 0 25px #5ddcff,
        0 0 50px #4e00c3;
    }
}

