@page "/AboutPage"
<link rel="stylesheet" href="css/About.css">

<div class="container container2">
    <p><span class="script"><b>About</b></span>
    <h3> This is a class project. The source are used for educational purposes.<br>
        This purpose of this porgram is to find Apartment and Houses that are on sale at specefic locations.<br>
        The API's that are used for this project belong to Estated.
    </h3>
    </p>
</div>
<br>
